-# edit.html.haml using partial

%h1 Edit Existing Poster

= form_tag poster_path(@poster), :method => :put do

  = label :poster, :content, 'Content'
  = text_field :poster, 'content'

  = label :poster, :label, 'Label'
  = text_field :poster, 'label'

  = label :poster, :release_date, 'Released On'
  = date_select :poster, :release_date
  
  = label :poster, :user_id, 'user_id'
  = text_field :poster, :user_id

  = submit_tag 'Update Poster Info'
