<!DOCTYPE html>
<html>
<head>
    <title><%= @article.title %></title>
    <meta charset="UTF-8"/>
    <!--<%= link_to image_tag("air-balloon-1.png", style:"width: 64px; height: 64px;"),'#' %>-->
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "bootstrap.css" %>
    <%= stylesheet_link_tag "editormd.css" %>
    <%= stylesheet_link_tag "editormd.preview.css" %>
    
    <style>            
        .editormd-html-preview {
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body style="padding-top:40px">
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UCASER论坛</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">主页</a></li>
            <li class="active"><a href="/articles">看帖</a></li>
            <li><a href="/articles/new">发帖</a></li>
            
            <!--这里是搜索页面的链接-->
            <li><a href="">搜索</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/login.html">登陆</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
            <div id="layout">
                <header>
                    <h1><%= @article.title %></h1>
                    
                    <label style="font-size:20px;margin-bottom:10px;margin-top:10px"><%= @article.label %></label><br>
               
                </header>
            </div>
            
            <div style="margin-bottom:70px;">
              <div class="bs-example" data-example-id="media-alignment" style="padding-left:20px;">
              <div class="media">
                <div class="media-left">
                  <%= link_to image_tag("air-balloon-1.png", alt: "User Name", style:"width: 64px; height: 64px;"),'#' %>
                </div>
                <div class="media-body" style="margin-left:0px;padding-right:80px;width:100%;">
                  <div style="background-color: #eeeeee8f;padding-bottom: 5px;">
                    
                  <div class="markdown-body editormd-html-preview" id="preview-editormd" style="width:100%;padding-bottom: 5px;background-color: #eeeeee8f;">                
                    <textarea id="append-test" style="display:none;"><%= @article.text %></textarea>
                  </div>
                  <hr style="height:1px;border:none;border-top:1px solid #aaa;margin-bottom:5px;margin-top:0px;margin-left:20px;margin-right:20px;">
                  <div style="margin-left:50px;">
                  <%= render @article.comments %>
                  </div>
                  </div>
                  
                  <div align="right" style="margin-right:20px;">
                    <!-- 按钮触发模态框 -->
                    <button class="btn btn-default" data-toggle="modal" data-target="#commentModal">评论</button>
                    <button class="btn btn-default" data-toggle="modal" data-target="#reModal">回复</button>
                  </div>
                  
                  
    
                  
                  
                  <!-- 评论模态框（Modal） -->
                  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  	<div class="modal-dialog">
                  		<div class="modal-content">
                  			<div class="modal-header">
                  			  <!--关闭“X”-->
                  				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                  				<!--	&times;-->
                  				<!--</button>-->
                  				<h4 class="modal-title" id="myModalLabel">
                  					添加评论
                  				</h4>
                  			</div>
                  			<div class="modal-body">
                  			  
                  		<%= form_for([@article, @article.comments.build]) do |f| %>
                        <!--<p>-->
                        <!--  <%= f.label :commenter %><br>-->
                        <!--  <%= f.text_field :commenter %>-->
                        <!--</p>-->
                          <%= f.text_area :body,type:"text", class:"form-control", placeholder:"写下你的评论吧！" %>
                          
                  			  
                  				<!--<input type="text" class="form-control" placeholder="写下你的评论吧！">-->
                  			</div>
                  			<div class="modal-footer">
                  				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  				
                  				<!--评论提交按钮-->
                  				<input class="btn btn-primary" name="commit" type="submit" />
                  				
                      <% end %>
                  			</div>
                  		</div><!-- /.modal-content -->
                  	</div><!-- /.modal -->
                  </div>
                                    
                                    
                  <!-- 回复模态框（Modal） -->
                  <div class="modal fade" id="reModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  	<div class="modal-dialog" style="width:90%;">
                  		<div class="modal-content">
                  			<div class="modal-header">
                  			  <!--关闭“X”-->
                  				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">-->
                  				<!--	&times;-->
                  				<!--</button>-->
                  				<h4 class="modal-title" id="myModalLabel">
                  					回复
                  				</h4>
                  			</div>
                  			<!--<div class="modal-body">-->
                  			  
                  			  <form action="http://editormd.ipandao.com/php/post.php" method="post">
                              <div class="editormd" id="re-editormd">                
                                  <textarea style="display:none;"></textarea>
                              </div>
                              <!--<br/><input type="submit" name="commit" value="发布" class="btn" style="margin-left: 5%;" />-->
                          </form>
                  			  
                  			<!--</div>-->
                  			<div class="modal-footer">
                  				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  				
                  				<!--评论提交按钮-->
                  				<button type="button" class="btn btn-primary">提交</button>
                  			</div>
                  		</div><!-- /.modal-content -->
                  	</div><!-- /.modal -->
                  </div>
                 
                  
                </div>
              </div>
            </div>
              
            </div>
            
            
            
            
            
            <%= javascript_include_tag "jquery.min.js" %>
            <%= javascript_include_tag "marked.min.js" %>            
            <%= javascript_include_tag "prettify.min.js" %>
            <%= javascript_include_tag "raphael.min.js" %>
            <%= javascript_include_tag "underscore.min.js" %>
            <%= javascript_include_tag "sequence-diagram.min.js" %>
            <%= javascript_include_tag "flowchart.min.js" %>
            <%= javascript_include_tag "jquery.flowchart.min.js" %>
            <%= javascript_include_tag "bootstrap.js" %>
            <%= javascript_include_tag "application" %>
            <%= javascript_include_tag "editormd.js" %>
            <script type="text/javascript">
                var previewEditor,reEditor;
                    
                $(function() {
                  previewEditor = editormd.markdownToHTML("preview-editormd", {
                      htmlDecode      : "style,script,iframe",  // you can filter tags decode
                      emoji           : true,
                      taskList        : true,
                      tocm            : true,    // Using [TOCM]
                      tex             : true,  // 默认不解析
                      flowChart       : true,  // 默认不解析
                      sequenceDiagram : true,  // 默认不解析
                  });
                });
                
                $(function() {
                  reEditor = editormd("re-editormd", {
                        width: "100%",
                        height: 480,
                        path : '/lib/',
                        theme : "default",
                        previewTheme : "default",
                        editorTheme : "base16-light",
                        //markdown : md,
                        codeFold : true,
                        syncScrolling : true,
                        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
                        searchReplace : true,
                        //watch : false,                // 关闭实时预览
                        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
                        //toolbar  : false,             //关闭工具栏
                        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                        emoji : true,
                        taskList : true,
                        tocm            : true,         // Using [TOCM]
                        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
                        flowChart : true,             // 开启流程图支持，默认关闭
                        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
                        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                        imageUpload : true,
                        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                        imageUploadURL : "./php/upload.php",
                        // onload : function() {
                        //     console.log('onload', this);
                        // //     //this.fullscreen();
                        // //     //this.unwatch();
                        // //     //this.watch().fullscreen();
        
                        // //     //this.setMarkdown("#PHP");
                        // //     //this.width("100%");
                        // //     //this.height(480);
                        //     this.resize("100%", 480);
                        // }
                    });
                });
            </script>
            
            
            
            <%= link_to '返回帖子列表',  articles_path ,class:'back'%>
            <!--<a class="back" href="/articles">返回帖子列表</a>-->
    
</body>
</html>