<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>登陆</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Expand, contract, animate forms with jQuery wihtout leaving the page" />
        <meta name="keywords" content="expand, form, css3, jquery, animate, width, height, adapt, unobtrusive javascript"/>
	    <%= stylesheet_link_tag "bootstrap.css" %>
        <%= stylesheet_link_tag "style.css" %>
	    <%= javascript_include_tag "jquery.min.js" %>
	    <%= javascript_include_tag "bootstrap.js" %>
		
    </head>
    <body style="padding-top:40px">
    	
	    <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">UCASER论坛</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/">主页</a></li>
	            <li><a href="/articles">看帖</a></li>
	            <li><a href="/articles/new">发帖</a></li>
	            
	            <!--这里是搜索页面的链接-->
	            <li><a href="">搜索</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li class="active"><a href="/login/login.html">登陆</a></li>
            <li><a href="/administrator/administrator.html">管理员登陆</a></li>
         
	          </ul>
	        </div>
	      </div>
	    </nav>
    
        <div class="wrapper" style="padding-top:0px">
			<h1 style="margin-bottom:5px;font-size:40px">UCASER论坛登陆</h1>
			<h2 style="margin-bottom:10px;color:gray">欢迎访问国科大UCASER论坛，请您先登陆</h2>
			<div class="content">
				<div id="form_wrapper" class="form_wrapper">
					
					<!--这是注册Form的代码-->
					<form class="register">
						<h3>注册</h3>
						<div class="column">
							<div>
								<label>姓：</label>
								<input type="text" />
								<span class="error">This is an error</span>
							</div>
							<div>
								<label>名：</label>
								<input type="text" />
								<span class="error">This is an error</span>
							</div>
							<div>
								<label>学号：</label>
								<input type="text" />
								<span class="error">This is an error</span>
							</div>
						</div>
						<div class="column">
							<div>
								<label>用户名：</label>
								<input type="text"/>
								<span class="error">This is an error</span>
							</div>
							<div>
								<label>Email:</label>
								<input type="text" />
								<span class="error">This is an error</span>
							</div>
							<div>
								<label>密码：</label>
								<input type="password" />
								<span class="error">This is an error</span>
							</div>
						</div>
						<!--这一部分是注册按钮的代码段-->
						<div class="bottom">
							<input type="submit" value="注册" />
							<a href="login.html" rel="login" class="linkform">已有账号？点我登陆吧！</a>
							<div class="clear"></div>
						</div>
					</form>
					
					<!--这是登陆Form的代码-->
					<form class="login active">
						<h3>登陆</h3>
						<div>
							<label>用户名：</label>
							<input type="text" />
							<span class="error">This is an error</span>
						</div>
						<div>
							<label>密码：<a href="forgot_password.html" rel="forgot_password" class="forgot linkform">忘记密码了？</a></label>
							<input type="password" />
							<span class="error">This is an error</span>
						</div>
						<!--这一部分是提交按钮的代码段-->
						<div class="bottom">
							<div class="remember"><input type="checkbox" /><span>记住登陆状态</span></div>
							<input type="submit" value="登陆"></input>
							<a href="register.html" rel="register" class="linkform">还没有账号？点我注册吧！</a>
							<div class="clear"></div>
						</div>
					</form>
					
					<!--这是忘记密码Form的代码-->
					<form class="forgot_password">
						<h3>忘记密码？</h3>
						<div>
							<label>用户名或邮箱：</label>
							<input type="text" />
							<span class="error">This is an error</span>
						</div>
						<!--这一部分是发送忘记密码邮件按钮的代码段-->
						<div class="bottom">
							<input type="submit" value="发送邮件"></input>
							<a href="login.html" rel="login" class="linkform">脑回路通了？点我登陆吧！</a>
							<a href="register.html" rel="register" class="linkform">还没有账号？点我注册吧！</a>
							<div class="clear"></div>
						</div>
					</form>
				</div>
				<div class="clear"></div>
			</div>
			<a class="back" href="#" onClick="javascript :history.back(-1);">返回论坛主页</a>
		</div>
		

		<!-- The JavaScript -->
		<%= javascript_include_tag "register_jquery.min.js" %>
		<script type="text/javascript">
			$(function() {
					//the form wrapper (includes all forms)
				var $form_wrapper	= $('#form_wrapper'),
					//the current form is the one with class active
					$currentForm	= $form_wrapper.children('form.active'),
					//the change form links
					$linkform		= $form_wrapper.find('.linkform');
						
				//get width and height of each form and store them for later						
				$form_wrapper.children('form').each(function(i){
					var $theForm	= $(this);
					//solve the inline display none problem when using fadeIn fadeOut
					if(!$theForm.hasClass('active'))
						$theForm.hide();
					$theForm.data({
						width	: $theForm.width(),
						height	: $theForm.height()
					});
				});
				
				//set width and height of wrapper (same of current form)
				setWrapperWidth();
				
				/*
				clicking a link (change form event) in the form
				makes the current form hide.
				The wrapper animates its width and height to the 
				width and height of the new current form.
				After the animation, the new form is shown
				*/
				$linkform.bind('click',function(e){
					var $link	= $(this);
					var target	= $link.attr('rel');
					$currentForm.fadeOut(400,function(){
						//remove class active from current form
						$currentForm.removeClass('active');
						//new current form
						$currentForm= $form_wrapper.children('form.'+target);
						//animate the wrapper
						$form_wrapper.stop()
									 .animate({
										width	: $currentForm.data('width') + 'px',
										height	: $currentForm.data('height') + 'px'
									 },500,function(){
										//new form gets class active
										$currentForm.addClass('active');
										//show the new form
										$currentForm.fadeIn(400);
									 });
					});
					e.preventDefault();
				});
				
				function setWrapperWidth(){
					$form_wrapper.css({
						width	: $currentForm.data('width') + 'px',
						height	: $currentForm.data('height') + 'px'
					});
				}
				
				/*
				for the demo we disabled the submit buttons
				if you submit the form, you need to check the 
				which form was submited, and give the class active 
				to the form you want to show
				*/
				$form_wrapper.find('input[type="submit"]')
							 .click(function(e){
								e.preventDefault();
							 });	
			});
        </script>
    </body>
</html>